<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suyash776.autobot" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.access_network_state" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Sensedroid"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Sensedroid" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:label="@string/title_devicelistactivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".VideoStream"
            android:label="@string/title_activity_video_stream" >
        </activity>
        <activity
            android:name=".Joystick"
            android:label="@string/title_activity_joystick" >
        </activity>
        <activity
            android:name=".ControllerType"
            android:label="@string/title_activity_controller_type" >
        </activity>
    </application>

</manifest>
